
$media-xxxl: 1440px;
$media-xxl: 1320px;
$media-xl: 1200px;
$media-lg: 992px;
$media-md: 768px;
$media-sm: 576px;
$media-xs: 300px;


$background-color : (
    "godoats_yellow":  #86888d,
    "godoats_black": rgb(31, 29, 29),
);

$font-color : (
    "text-black": rgb(34, 34, 34),
);

